<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="logo_marca.png" alt="Logo" width="160" height="100" class="d-inline-block align-text-top"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="index.html" >NOVEDADES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="mujeres.html">MUJERES</a>
					</li>

					<li class="nav-item">
						<a class="nav-link  btn btn-outline-primary" href="hombre.html">HOMBRES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="niños.html">NIÑOS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="bebes.html">BEBES</a>
					</li>

				</ul>
                    <form class="d-flex me-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    <button class="btn btn-outline-primary me-2" type="button">
                        <i class="bi bi-cart"></i>
                    </button>
                    <button class="btn btn-outline-danger me-2" type="button">
                        <a href="megusta.html"><i class="bi bi-heart"></i></a>
                    </button>
                    <button class="btn btn-outline-secondary" type="button">
                        <a class="bi bi-person" href="login.html"></a>
                    </button>
                </div>
            </div>
        </nav>

        <p class="d-inline-flex gap-1">
            <button type="button" class="btn-link" data-bs-toggle="button">DEPORTIVAS</button>
            <button type="button" class="btn active btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">ZANDALIAS</button>
            <button type="button" class="btn  active btn-outline-secondary" data-bs-toggle="button">BOTAS</button>
          </p>
          <p class="d-inline-flex gap-1">
            <button type="button" class="btn active btn-outline-secondary" data-bs-toggle="button">PANTUFLAS</button>
            <button type="button" class="btn  active btn-outline-secondary" data-bs-toggle="button" aria-pressed="true">OXFORDS</button>
            <button type="button" class="btn  active btn-outline-secondary" data-bs-toggle="button">MODA</button>
          </p>

          <div class="container mt-5">
            <div class="row">
                <!-- Card 1 -->
                <div class="col-md-3">
                    <div class="card">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_778936-MLA71628783330_092023-O.webp" style="height: 400px;">
                        <div class="card-body" style="height: 230px;">
                            <h5 class="card-title">de la naturaleza a la ciudad</h5>
                            <p class="card-text">En este invierno abrígate con Terrex para tus actividades del día a día y para tus fines de semana de aventura.</p>
                            <a href="#" class="btn btn-primary">COMPRAR AHORA</a>
                        </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="col-md-3" >
                    <div class="card">
                        <img src="https://home.ripley.com.pe/Attachment/WOP_5/2025285577830/2025285577830_2.jpg" style="height: 400px;" class="card-img-top" alt="Producto 2">
                        <div class="card-body"style="height: 230px;">
                            <h5 class="card-title">Demuestra tu pasión por el fútbol</h5>
                            <p class="card-text">Apoya a tu selección favorita en esta temporada de torneos con nuestra colección de camisetas 2024.</p>
                            <a href="#" class="btn btn-primary">COMPRA EL TUYO AHORA</a>
                        </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="col-md-3">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY8SiEOtl24rHsR_mv5oL9xjuAIspHwWmgIfYhxlb9_el0tlBPvgGSNDV7pe97Rzf71G8&usqp=CAU" style="height: 400px;">
                        <div class="card-body" style="height: 230px;">
                            <h5 class="card-title">10 AÑOS JUNTOS</h5>
                            <p class="card-text">El nuevo lanzamiento de adidas X FARM Rio celebra una década de colaboración nuevo estilo.</p>
                            <a href="#" class="btn btn-primary">COMPRAR</a>
                        </div>
                    </div>
                </div>
                <!-- Card 4 -->
                <div class="col-md-3">
                    <div class="card" >
                        <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/29a02b78c1e34188864dafbd00961c64_9366/zapatillas-samba-og.jpg" style="height: 400px;">
                        <div class="card-body" style="height: 230px;">
                            <h5 class="card-title">Samba</h5>
                            <p class="card-text">Para cualquier look.</p>
                            <a href="#" class="btn btn-primary">COMPRAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid m-0 p-3 mt-4 row ">
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="height: 700px;">
                    <img src="https://vans.com.pe/cdn/shop/products/Q5EBA2-HERO.jpg?v=1664385432"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">ZAPATILLAS OLD</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">SKOOL OVERT</p>
                            <h2>COMFYCUSH BLACK</h2>
                            <h2>WHITE</h2>
                        </div>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="height: 700px;">
                    <img src="https://www.moov.com.ar/on/demandware.static/-/Sites-365-dabra-catalog/default/dw1276f562/products/NIDH6927-161/NIDH6927-161-6.JPG"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">Zapatillas Jordan Air</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">4 Retro Red Cement</p>
                            <h2>Hombre</h2>
                        </div>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="height: 700px;">
                    <img src="https://home.ripley.com.pe/Attachment/WOP_5/2084308306536/2084308306536_2.jpg"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">ZAPATILLAS MUJER NIKE </h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text"> RUNNING NEGRO</p>
                            <h2>W RENEW RUN 4</h2>
                        </div>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="height: 700px;">
                    <img src="https://www.lapolar.cl/dw/image/v2/BCPP_PRD/on/demandware.static/-/Sites-master-catalog/default/dw08a508b7/images/large/586800-multicolor.jpg?sw=1200&sh=1200&sm=fit"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">PUMA Rebound Joy,</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">PUMA Rebound Joy,</p>
                            <h2>Dark Shadow Black White</h2>
                        </div>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            
            
           

</body>
</html>